<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codeforces Rating Predictor</title>
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <div class="centered-container">
        <h1>Codeforces Rating Predictor</h1>
        <form action="/" method="POST" class="search-form">
            <input type="text" name="profile_name" placeholder="Enter Username">
            <button type="submit" class="search-button" onclick="func()">
                <i class="fas fa-search"></i>
            </button>
        </form>
        {% if flag %}
            <br>
            <P style="color:red">User does not exists or the CF API is Down</P>
        {% endif %}
    </div>
    <footer class="footer">
        <a href="https://github.com/OmAmar106/Codeforces-Rating-Predictor" target="_blank">
            <i class="fab fa-github">&nbsp;&nbsp;</i>
        </a>
        <a href="https://www.linkedin.com/in/om-amar/" target="_blank">
            <i class="fab fa-linkedin"></i>
        </a>
    </footer>
    
</body>
</html>
